@page "/"
@inject TestClient HttpClient;
@rendermode InteractiveWebAssembly

<button @onclick="SayHi">hi</button>
<h1 class="btn btn-primary text-yellow-600">From API: @Result</h1>


@code{

	public string Result { get; set; } = "junk";

	private async Task SayHi(){
		Result =  await HttpClient.GetContent();
	}
}